/****** FEATURED PRODUCTS BLOCK ******/
.featured-products-slider {
    overflow: hidden;
    margin-top: 3.2rem;

    .swiper-slide {
        height: auto;
    }
    ul.products {
        grid-template-columns: 1fr!important;
        height: 100%;
    }
}

/****** end of FEATURED PRODUCTS BLOCK ******/



/**********************************/



/****** home-categories ******/
.home-categories {
    background-color: $lightgray-color;
    padding-bottom: 0!important;
    margin-bottom: 18rem;

    .home-delivery-features {
        position: relative;
        top: 13rem;
        margin-top: -8rem;
    }
}

.popular-categories {
    .category-card {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        text-decoration: none;
        color: $primary-color;
        font-weight: 600;
        font-family: $alt-font;
        font-size: 2rem;
        border: 2px solid transparent;
        border-radius: 1.7rem;
        overflow: hidden;
        padding-bottom: 1.6rem;

        &:hover {
            border-color: $cta-color;

            img {
                transform: scale(1.02);
            }
        }

        img {
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 1.6rem;
            transition: all .23s ease-in;
        }
    }
}

.home-delivery-features {
    background-color: $white;
    border-radius: 2.4rem;
    border: 1px solid $lightgray-color;
    text-align: center;
    padding: 2.4rem;
    gap: 3.2rem!important;

    .wp-block-column {
        position: relative;

        p {
            margin: 0 auto;
            max-width: 35rem;
        }
    }

    .wp-block-column:not(:last-child)::after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: $lightgray-color;
        position: absolute;
        right: -1.6rem;
        bottom: 0;
    }
    
    h3 {
        font-size: 2rem;
        margin: 2.4rem 0 .6rem;
        font-weight: 700;
    }

    svg {
        max-width: 100%;
        color: $accent-color;
        height: 12rem;
        width: auto;
    }
}
/****** end of - home-categories ******/

/**********************************/


/****** top-picks ******/
.top-picks-section {
    display: flex;
    gap: 4.8rem;
    margin-top: 3.2rem;

    .top-picks-right {
        flex: 1;

        .products-grid  {
            grid-template-columns: repeat(3, 1fr)!important;
        }
    }

    .top-picks-left {
        ul {
            list-style: none;
            position: sticky;
            top: 10rem;
            display: flex;
            gap: .8rem;
            flex-direction: column;
            background-color: $lightgray-color;
            min-width: 23rem;
            border-radius: 1.6rem;
            padding: 1.6rem;

            li {
                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    transition: all .23s ease;
                    font-size: 1.6rem;
                    font-weight: 600;
                    font-family: inherit;
                    text-align: left;

                    &::after {
                        content: "";
                        display: block;
                        height: 1px;
                        background-color: $cta-color;
                        margin-top: 2px;
                        width: 0;
                        transition: all .23s ease;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }

            
            button.active {
                pointer-events: none;

                &::after {
                     width: 100%;
                }
            }
            
        }
    }
}

/****** end of top-picks ******/


.hero-slider {
   /* margin-left: 2.4rem!important;
    margin-right: 2.4rem!important;*/
    margin: 0 auto!important;
    max-width: calc($container - 2.4rem);
    width: 100%;
    border-radius: 2.4rem;

    .wp-block-cover__inner-container {
        padding: 3.6rem!important;
    }

    .swiper-slide {
        border-radius: 2.4rem;
        overflow: hidden;
        height: calc(100vh - 23rem);
    }

    .swiper-pagination {
        bottom: 1.6rem;
        left: 0;
        right: 0;
        z-index: 23;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;

        .swiper-pagination-bullet {
            background-color: $white;
            opacity: 1;
            width: .6rem;
            height: .6rem;
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: transparent;
            border: 2px solid $accent-color;
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}


.featured-block {
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.instagram-button {
    margin: 2rem auto 0;
}

.intro-header {
    .wp-block-column {
        display: flex;
        gap: 2.4rem;
        justify-content: space-between;
        align-items: center;
    }
}


.no::before{
    content:"";
    width:20px;
    height:20px;
    display:inline-block;
    margin-right:6px;
    background: url(assets/images/no.svg) no-repeat;
    background-size: contain;
    position: relative;
    top: 3px;
}
.yes::before{
    content:"";
    width:20px;
    height:20px;
    display:inline-block;
    margin-right:6px;
    background: url(assets/images/yes.svg) no-repeat;
    background-size: contain;
    position: relative;
    top: 3px;
}

.yesno {
    justify-content: center;
    text-align: center;
    margin-bottom: 2.4rem;

    > div {
        flex: 0 0 auto!important;
        width: fit-content!important;
        font-size: 2rem;
    }
}

.natural-block {
    background-color: $green;
    border-radius: 2.4rem;
    margin: 0 2.4rem;

    > div > p {
        max-width: 70rem;
        margin: 0 auto;
    }
}
    

/*
*
* RESPONSIVE
*
*/
@media only screen and (max-width:1024px) {
    .form-block .wp-block-columns {
        gap: 4rem!important;
    }
    body .zigzag {
        gap: 5rem;
    }
    .zigzag:not(:last-child) {
        margin-bottom: 8rem;
    }
    .child-pages-list .child-page {
        max-width: calc(50% - 8px);
    }
    body .child-pages-list {
        gap: 1.6rem;
    }
}
@media only screen and (max-width:781px) {
    .form-block .wp-block-columns {
        padding: 0!important;
    }
    .gallery-block .swiper-gallery {
        margin-top: 2rem;
    }
    .gallery-block .wp-block-spacer {
        display: none;
    }
    .gallery-block .wp-block-columns {
        gap: 0!important;
    }
}
@media only screen and (max-width:767px) {
    .wpcf7-form .firstname, .wpcf7-form .half-col, .wpcf7-form .lastname {
        max-width: 100%!important;
    }
    h2 {
        hyphens: auto;
    }
    .child-pages-list .child-page {
        max-width: 100%!important;
    }
}