$primary-color: #0A220F;
$cta-color:#ee0334;
$accent-color: #ffe30c;
$secondary-color:#1C2127;
$lightgray-color:#f5f5f5;
$dark-color:#383838;
$neutral-color:#999;
$white:#fff;
$green:#d4edda;
$container: 154rem;
$alt-font: "Montserrat", serif;
$font:  "Inter", sans-serif;