.shop-header {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.6rem;



    .product-category-image {
        max-height: 65vh;
        width: 100%;
        object-fit: cover;
        object-position: top;
        margin-bottom: 2.4rem;
        border-radius: 2.4rem;
    }

    h1 {
        z-index: 3;
        margin: 0;
        font-weight: 700;
        color: $primary-color;
    }

    .shop-header-meta {
        position: absolute;
        right: 0;
        bottom: 2.4rem;
        color: $primary-color;
        z-index: 3;
        font-size: 1.4rem;

        .mobile-grid-toggle {
            display: none;
        }
    }
}

.tax-product_cat {
    ul.products {
        padding: 4.8rem 0;
    }
}

.term-description {
    max-width: 100rem;
    opacity: .8;
}

.category-bottom-description {
    background-color: $lightgray-color;
    position: relative;
    width: calc(100vw - 2rem);
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 3.2rem;
    border-bottom-right-radius: 3.2rem;
    font-size: 1.5rem;

     p:has(+ :is(h1,h2,h3,h4,h5,h6)) {
        margin-bottom: 3.2rem;
    }

    ul {
        padding-left: 4rem;
        margin-bottom: 2.4rem;
    }

    > * {
        max-width: $container;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    h2 {
        font-size: 3rem;
        opacity: 1;
        b {
            font-weight: 600!important;
            color: #000;
        }
    }

    h3 {
        font-size: 2.5rem;
        b {
            font-weight: 600!important;
        }
    }
}


.woocommerce-pagination {
    padding: 1.2rem 2.4rem 4.8rem;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 1.2rem;

        li {
            a {
                text-decoration: none;
            }
        }

        .custom-next-arrow,
        .custom-prev-arrow {
            display: flex;
            align-items: center;
            transform: all .23s ease;

            &:hover {
                opacity: .8;
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .shop-header {
        h1 {
            font-size: 2.7rem!important;
        }

        .product-category-image {
            border-radius: 1.6rem!important;
            aspect-ratio: 4/3;
        }
    }
    .shop-header-meta {
        bottom: 0!important;

        .woocommerce-result-count {
            display: none;
        }
        .mobile-grid-toggle {
            display: flex!important;
            gap: 1.2rem;

            .grid-btn {
                background-color: transparent;
                border: none;
                opacity: .3;
            }
            .grid-btn.active {
                opacity: 1;
            }
        }

        
    }

    .term-description {
        font-size: 1.4rem!important;
    }

    .listed-products.grid-2 {
        ul.products {
            grid-template-columns: repeat(2, 1fr)!important;
            gap: 1.6rem!important;

            li {
                padding: 1.2rem!important;

                h2 {
                    font-size: 1.5rem!important;
                }
                .onsale {
                    font-size: 1.2rem!important;
                    padding: .4rem .8rem .4rem 1.6rem!important;
                }

                .product-categories {
                    a {
                        font-size: 1.2rem;
                    }
                }

                .price {
                    font-size: 1.5rem;
                }

                .button {
                    font-size: 1.2rem!important;
                    line-height: 1;
                    padding: .6rem;
                    min-height: 3.2rem;
                }
            }
        }
    }
}


.category-bottom-description {
    border-top: 1px solid $lightgray-color;
    padding:3.2rem 0;

    p, ul {
        opacity: .8;
    }
}



.woocommerce-shop {
    .product-category  {
        a {
            color: $secondary-color;
            

            .woocommerce-loop-category__title {
                font-size: 2rem!important;
                margin-top: 1.2rem;

                mark {
                    background-color: transparent;
                }
            }
        }
    }
}