ul.products.columns-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3.2rem;
    list-style: none;

    li {
        width: 100%;
        max-width: 100%!important;
        background-color: $white;
        text-align: center;
        border-radius: 2.4rem;
        padding: 2.4rem;
        margin: 0!important;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: .8rem;
        border: 1px solid $lightgray-color;
        transition: all .23s ease-in-out;

        &:hover {
            border-color: $cta-color;
        }

        a {
            text-align: center;
            text-decoration: none;
        }

        .onsale {
            position: absolute;
            left: 0;
            top: 0;
            border-top-left-radius: 2.4rem;
            padding: .8rem 1.6rem .8rem 2.4rem;
            white-space: nowrap;
            width: fit-content!important;
            border-bottom: 2px solid $cta-color;
            background-color: $accent-color;
            color: $primary-color;
        }

        .woocommerce-loop-product__link {
            display: flex;
            align-items: center;
            flex-direction: column;

            &:hover {
                h2 {
                    opacity: .8;
                }
            }

            h2 {
                text-align: center;
                margin-bottom: 0;
                font-size: 2rem;
                letter-spacing: 0;
                color: $primary-color;
            }
        }

        .price {
            margin: 0!important;
            color: $secondary-color;
            font-size: 1.8rem;
            font-weight: 600;
            font-family: $alt-font;

            del {
                font-size: 1.6rem;
            }

            ins {
                text-decoration: none;
            }
        }

        .button {
            display: flex;
            width: 100%;
            margin-top: auto;
            border:none;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 600;
            font-family: $alt-font;
            font-size: 1.4rem!important;
            border-radius: 1.6rem;
            padding: .8rem 1.6rem;
            cursor: pointer;
            transition: all .33s ease-in-out;
            background-color: $accent-color!important;

            &:hover {
                background-color: darken($accent-color, 10%)!important;
            }
        }
    }
}


@media only screen and (min-width:768px) {
    ul.products.columns-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width:1200px) {
    ul.products.columns-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}





@media only screen and (max-width:767px) {
    body .listed-products ul li.product-special-banner {
        grid-column: 1 / -1!important;

        h2.special-banner-title {
            font-size: 2.3rem!important;
            margin-bottom: 1.2rem!important;
        }

        .btn {
            font-size: 1.3rem!important;
        }
    }
}

body.term-24 {
    .product-special-banner {
         grid-column: 1 / -1!important;
    }
}


.product-special-banner {
    grid-column: span 2;
    padding: 0!important;
    border-radius: 1.6rem;
    overflow: hidden;
    border: none!important;

    a {
        border: none!important;
    }

    &:hover {
        .special-banner-inner::before {
            background: $accent-color;
        }

        .special-banner-content {
            color: $primary-color!important;
        }
    }

    .special-banner-inner {
        display: flex;
        padding: 3.2rem;
        position: relative;
        min-height: 27rem;
        display: flex;
        align-items: center;
        border-radius: 1.6rem;
        overflow: hidden;


        &::before {
            content: "";
            background: rgba($color: #000000, $alpha: .6);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: all .23s ease-in;
        }

        .special-banner-content {
            z-index: 1;
            position: relative;
            color: $white;
            margin: auto;

            .special-banner-title {
                line-height: 1;
                margin-bottom: .6rem;
                font-size: 3rem;
            }

            .btn {
                background-color: #fff;
                border-color: #fff;
                margin-top: 2.4rem;
                font-size: 1.5rem;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                transition: all .23s ease-in;
            }
        }
    }
}