.wc-empty-cart-message {
    text-align: center;
    margin-bottom: 2.4rem;
}

.woocommerce-cart {
    .return-to-shop {
        display: flex;
        justify-content: center;
    }

     .quantity {
         text-align: center;
         justify-content: center;
                        display: flex;
                        align-items: center;
                        background-color: $lightgray-color;
                        border-radius: 1.6rem;

                        button {
                            border: none;
                            background-color: transparent;
                            padding: 1rem;
                            cursor: pointer;
                            width: 4rem;
                            height: 2rem;
                            display: inline-block;
                            text-indent: -99999px;
                            overflow: hidden;
 
                        }

                        input {
                            text-align: center;
                            border-radius: .8rem;
                            border: none;
                            background-color: $lightgray-color;
                            width: 4.8rem;
                            padding: 1rem;
                            font-size: 2rem;
                            font-weight: 600;
                            font-family: $alt-font;
                        }

                        /* Chrome, Safari, Edge, Opera */
                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                        }

                        /* Firefox */
                        input[type=number] {
                        -moz-appearance: textfield;
                        }

                        .minus {
                            background: url(assets/images/minus.svg) no-repeat;
                            background-size: contain;
                            background-position: center;
                        }

                        .plus {
                            background: url(assets/images/plus-sign.svg) no-repeat;
                            background-size: contain;
                            background-position: center;
                        }
                    }
}


.woo-cart {
    .wp-block-group {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 4.8rem;

        .woocommerce-notices-wrapper {
            grid-column: 1 / -1;

            .woocommerce-message {
                background-color: $lightgray-color;
                border-radius: 1.6rem;
                padding: 1.6rem;
                text-align: center;
                font-size: 1.4rem;
            }
        }
    }

    .woocommerce-cart-form {
        table {
            width: 100%;
        }
        thead {
            .product-thumbnail {
                display: none;
            }

            th {
                font-weight: 600;
                font-family: $alt-font;
                font-size: 1.5rem;
                text-transform: uppercase;
            }

            .product-price {
                visibility: hidden;
            }
        }

        tbody {
            td {
                border-bottom: 1px solid $lightgray-color!important;
                padding: 1.2rem;
            }

            tr:last-child {
                td {
                    border: none!important;
                }
            }

            .product-thumbnail {
                img {
                    width: 8rem;
                }
            }

            .product-name {
                a {
                    color: $primary-color;
                    text-decoration: none;
                    font-family: $alt-font;
                    font-weight: 500;
                }
            }

            .actions {
                > button {
                    display: none;
                }
               .coupon {
                display: flex;
                gap: 1.6rem;

                button {
                    border: none;
                    cursor: pointer;
                    white-space: nowrap;
                }
               }
            }
        }
    }


    .cart-collaterals {
       

        .cart_totals {
            background-color: $lightgray-color;
            border-radius: 1.6rem;
            padding: 2.4rem;

            .wc-proceed-to-checkout {
                margin-top: 2.4rem;
            }

            #shipping_method {
                list-style: none;
                font-weight: 500;
                font-family: $alt-font;

                bdi {
                    display: flex;
                    justify-content: flex-end;
                }

                label {
                    font-weight: 500;
                    font-family: $alt-font;
                }
            }

            .woocommerce-shipping-destination {
                display: none;
            }

            table {
                font-size: 1.5rem;
                width:100%;
                
                th {
                    font-weight: 400;
                    text-align: left;
                }

                td {
                    
                    text-align: right;
                }

                th,
                td {
                    border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
                    padding: 1.2rem;
                }

                tr:last-child {
                    th,td {
                        border: none;
                    }
                }



                .order-total {
                    td {
                        font-size: 1.8rem;
                    }
                }
            }
        }
        h2 {
            font-size: 2.4rem;
            text-align: center;
        }
    }
}


.faq-wrapper {
    background-color: $lightgray-color;
    border-radius: 0 0 3.2rem 3.2rem;
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;

    .wp-block-accordion-heading {
        font-size: 2rem;
        letter-spacing: 0.03em;
        margin: 0;
        text-decoration: none;

        .wp-block-accordion-heading__toggle-title {
            text-decoration: none!important;
        }
    }

    .wp-block-accordion {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        max-width: 84rem;
        margin: 0 auto;

        .wp-block-accordion-item {
            font-size: 1.5rem;
            position: relative;

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background: $secondary-color;
                position: absolute;
                left: 0;
                bottom: -1.2rem;
            }
        }
        .wp-block-accordion-item:last-child::after {
            display: none;
        }
    }
}



.custom-cart-crossells {
    grid-column: 1 / -1;
}


@media only screen and (max-width:1023px) {
    .woo-cart .wp-block-group {
        grid-template-columns: 1fr!important;
    }
}

@media only screen and (max-width:767px) {
    .faq-wrapper {
        .wp-block-accordion-item {
            font-size: 1.4rem!important;
        }
        .wp-block-accordion-heading {
            font-size: 1.6rem!important;
        }
    }
    body .woo-cart {
        padding-top: 0!important;

        .woocommerce-cart-form table {
            thead {
                display: none;
            }

            tbody {
                tr {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    border-bottom: 2px solid $lightgray-color;
                    position: relative;
                    padding-right: 2.4rem;
                    padding-bottom: 1.6rem;

                    .product-remove {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                    td {
                        border-bottom: none!important;
                    }

                    .coupon {
                        flex-direction: column;
                        width: 100%;
                        gap: .8rem!important;

                        > * {
                            width: 100%;
                        }
                    }
                }

                .actions {
                     grid-column: 1 / -1;
                }
            }
        }
    }
}